*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins',SansSerif;
}
.section1{
  background-image: url("../../assets/images/Artboard 1.png");
  background-size: 100% 20%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 7px;
}
.Mainbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  border-bottom: 1px solid white;
}
.logo{
  flex: .5;
  display: flex;
}
.logo img{
  width: 40%;
}
.search-bar{
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar-adj{
  box-shadow: 0px 10px 45px -11px rgba(0,0,0,0.75);
  max-width: 40vw;
  height: 60%;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 8px;
  border-radius: 5px;
}
.search-bar h1{
  flex: 1;
  color: white;
  background-color: #3842b7;
  text-align: center;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px ;
}
.search-bar input{
  flex: 4;
  border: transparent;
  background-color: white;
  padding: 0 1rem;
  border-radius: 0 5px 5px 0;
}
.search-bar img{
  width: 4%;
  height: 60%;
  background-color: white;
  margin-top: 5px;
  margin-right: 5px;
  transform: translateX(-20px);
}
.proflie{
  flex: .5;
  display: flex;
  flex-direction: row;
}
.proflie div:first-child{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proflie div:last-child{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proflie div img{
  width: 25%;
}
.proflie div h1{
  text-align: center;
  color: #e9ecfb;
}
.section2{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.section2-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2-left div{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.section2-left h1{
  background-color: orange;
  padding: .5rem 2rem;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  width: 30%;
}
.section2-left h2{
  font-size: 3rem;
  color: #1c3878;
}
.section2-left h3{
  color: grey;
  font-size: 20px;
  font-family: "Poppins Light",SansSerif;
  margin-bottom: 2rem ;
}
.section2-left button{
  width: 40%;
  border-radius: 10px;
  border: 2px solid grey;
  color: grey;
  background: transparent;
  padding: .5rem 1rem;
}
.section2-left button:hover{
  width: 40%;
  border-radius: 10px;
  border: 2px solid transparent;
  color: white;
  background: #2594ff;
  padding: .5rem 1rem;
  transition: all.3s;
}

.section2-right{
  flex: 1;
  background-image: url("../../assets/images/Courseslearn.png");
  background-repeat: no-repeat;
  background-size: 70% 100%;
}
.section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.section3-adj{
  width: 60%;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.buttons a:first-child{
  text-decoration: none;
  padding: 2rem 2rem;
  color: #1c3878;
  border-bottom: 2px solid blue;
  cursor: pointer;
}
.buttons a:last-child{
  text-decoration: none;
  padding: 2rem 2rem;
  border-bottom: 2px solid blue;
  color: #1c3878;
  cursor: pointer;

}
.section4{
display: flex;
  flex-direction: column;
}
.section4-adj{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 h1{
  font-size: 2.3rem;
  font-family: "Poppins Medium",SansSerif;
  color: #1c3878;
  margin-bottom: 3rem;
}
.menu1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.menu1-head{
  display: flex;
  flex-direction: row;
  width: 70%;
  cursor: pointer;
}
.menu1-head div:first-child{
  flex: 1;
  padding: 1rem;
  background-color: orange;
  color: white;
  text-align: center;
}
.menu1-head div:last-child{
  flex: 14;
  padding: 1rem 1rem;
  background-color: #1c3878;
  color: white;
}
.menu1-para{
  width: 70%;
}
