<section class="section1">
  <div class="Mainbar">
    <div class="logo" routerLink="/">
      <img src="../../assets/images/log2.png">
    </div>
    <div class="search-bar">
      <div class="search-bar-adj">
        <h1>ALL CATEGORIES</h1>
        <input type="text" placeholder="Search For The Course">
        <img src="../../assets/images/magnifying-glass.png">
      </div>
    </div>
    <div class="proflie">
      <div>
        <img src="../../assets/images/alarm.png">
        <h1>ALERT</h1>
      </div>
      <div>
        <img src="../../assets/images/man.png">
        <h1>PROFILE</h1>
      </div>
    </div>
  </div>
  <section class="section1-mid">
    <div class="section1-left">
      <div class="AboutPerson">
        <div class="AboutPerson-adj">
          <img src="../../assets/images/man.png">
          <div class="PersonName">
            <h1>Hey, John!</h1>
            <div>
              <p>Lead Interaction Designer</p>
              <img src="../../assets/images/award.png">
            </div>
          </div>
        </div>
      </div>
      <div class="Achieved">
        <h1>CONGRATULATIONS</h1>
        <p>For Completing this Amazing Course With LearnX</p>
      </div>
      <button class="button" routerLink="/courses">View More Courses</button>

    </div>
    <div class="section1-right" routerLink="/courses">
      <div class="card-back">
        <div class="card-front">
          <div>
            <h1>
              WEB DESIGN
            </h1>
          </div>
          <h2>Course In Progress</h2>
          <h3>Beginners Guide For</h3>
          <h3>Web Design</h3>
          <img src="../../assets/images/computer.png">
          <p>100% Completed</p>
          <p>Click To Watch Other Courses </p>
        </div>
      </div>
    </div>
  </section>
</section>
